h1
{
	text-align: center;
	font-family: 'Syncopate', sans-serif;
}
hr
{
	position:right;
	color:black;
}
img
{
  text-align:right;
  width: 10%
  bottom:10%;
  top: 100%;
  margin-top: -80px;
}
#PRESENTATION
{
	text-align:left;
}

h2
{
	text-align: center;
}
#experiences
{
	text-align:center;
}
#objectif
{
	text-align: center;
}
img
{
	width:10%
	
}
div.link-list 
{
        width:11.2em;
        position:absolute;
        top:0;
        font-size:80%;
        padding-left:1%;
        padding-right:1%;
        margin-left:0;
        margin-right:0;
}
.line
{
	border-top: 5px double black;
}
p
{
	font-family:'Alike', serif;
	
}
h2
{
	font-family: 'Syncopate', sans-serif;
}
body
{
	background-image: url(index.jpeg);
}